/* Layout */

body.navbar-top {
    padding-top: 3rem;
}

body.navbar-bottom {
    padding-bottom: 3rem;
}

/* Navbar */

.navbar .breadcrumb {
    margin: 0;
}

/* Carousel */

#featured .image {
    box-shadow: inset 0 -0.25rem 0.75rem -0.75rem rgba(0, 0, 0, 0.05);
}

.carousel-item .image {
    background-position: center center;
}

/* Shadows */

.bg-light .box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.bg-dark .box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(255, 255, 255, 0.05);
}

.bg-light .navbar-bottom.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.bg-dark .navbar-bottom.box-shadow {
    box-shadow: 0 0.25rem -0.75rem rgba(255, 255, 255, 0.05);
}

/* Light components */

body.bg-dark {
    color: #eee;
}

.card-dark {
    background-color: #25282d;
    color: #fff;
}
